@import 'normalize';

%well {
  border-radius: 5px;
  -moz-box-shadow: 5px 6px 11px #7E7A94;
  -webkit-box-shadow: 5px 6px 11px #7E7A94;
  box-shadow: 5px 6px 11px #7E7A94;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #b0e0f8;
}

.chat-window-container {
  float: left;
  padding: 0 20px;
  width: 80%;
}

.chat-window {
  @extend %well;
  background-color: #fff;
  display: block;
}

.chat-messages {
  list-style: none;
}

.message-author {
  font-weight: bold;
}

.user-window-container {
  float: left;
  padding-right: 20px;
  width: 20%;
}

.user-window {
  @extend %well;
  background-color: #fff;
}

.user-list {
  list-style: none;
}

.chat-input {
  bottom: 20px;
  left: 20px;
  position: absolute;
  width: 80%;
}

.message-input {
  width: 75%;
}
