@import 'normalize';
@import 'sassy-buttons';
@import 'icomoon/style.scss';

$primary-color: #b0e0f8;
$secondary-color: #3899c6;
$text-color: #333;
$link-color: darken($secondary-color, 10);

%well {
  background-color: #fff;
  border: 1px $secondary-color solid;
  border-radius: 10px;
  -moz-box-shadow: 5px 6px 11px #7E7A94;
  -webkit-box-shadow: 5px 6px 11px #7E7A94;
  box-shadow: 5px 6px 11px #7E7A94;
}

.well-header {
  border-bottom: 1px $secondary-color solid;
  color: $secondary-color;
  margin-top: 5px;
  padding-bottom: 8px;
  padding-left: 10px;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
  padding-top: 20px;
}

.button {
  @include sassy-button("flat", 5px, 15px, $secondary-color);
}

.chat-window-container {
  float: left;
  padding: 0 20px;
  position: relative;
  width: 80%;
}

.join-room-button {
  position: absolute;
  right: 30px;
  top: 10px;
}

.chat-window {
  @extend %well;
  display: block;
}

.chat-tabs {
  border-bottom: 1px $secondary-color solid;
  height: 35px;
  list-style: none;
  margin-bottom: 0;
  padding-left: 15px;
  a {
    color: #868383;
    line-height: 35px;
    text-decoration: none;
  }
  li {
    background-color: #eee;
    border: 1px $secondary-color solid;
    display: block;
    float: left;
    height: 35px;
    margin-top: 0;
    padding: 0 10px;
  }
  .active {
    background-color: #fff;
    a {
      color: #333;
    }
  }
}

.chat-room {
  display: block;
  overflow-y: auto;
}

.chat-messages {
  list-style: none;
}

.message-author {
  font-weight: bold;
}

.user-window-container {
  float: left;
  padding-right: 20px;
  width: 20%;
}

.user-window {
  @extend %well;
  background-color: #fff;
}

.user-settings {
  margin: 0 0 30px;
  padding: 0 15px;
  input {
    display: block;
    margin: 10px 0;
    width: 100%;
  }
  label {
    font-weight: bold;
  }
}

.user-list {
  display: block;
  overflow-y: auto;
}

.users {
  font-size: 120%;
  list-style: none;
  padding-left: 15px;
  margin-top: 0;
}

.chat-input {
  bottom: 20px;
  left: 20px;
  position: absolute;
  width: 80%;
}

.message-input {
  width: 75%;
}

.room-list {
  @extend %well;
  bottom: 0;
  left: 50%;
  position: absolute;
  width: 25%;
  ul {
    font-size: 135%;
    list-style: none;
    padding-left: 0;
  }
}

.room-list-content {
  padding: 0 15px;
}

.room-list-close {
  font-size: 130%;
  position: absolute;
  right: 10px;
  top: 5px;
  &:hover {
    text-decoration: none;
  }
}
