@import 'normalize';

* {
  box-sizing: border-box;
}

body {
  background-color: #b0e0f8;
}

.chat-window {
  background-color: #fff;
  float: left;
  margin-right: 2%;
  width: 80%;
}

.chat-messages {
  list-style: none;
}

.user-window {
  background-color: #fff;
  float: left;
  width: 18%;
}

.user-list {
  list-style: none;
}

.chat-input {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.message-input {
  width: 75%;
}